#add notebooks to gitignore


outputs/
weights/

#add __pycache__ to gitignore

__pycache__/
*.py[cod]


#ignore weights files

*.pth
*.pt


wandb/
data/Benchmarking_Export/Door_Opening/CDS_Home/
.ipynb_checkpoints/